# Local Backend Node API Engine Destination
VITE_BACKEND_URL=http://localhost:4000

# 💻 CLEANED HEXADECIMAL ID (Remove .walletconnect.com from your real variable value)
VITE_WALLETCONNECT_PROJECT_ID=945d584aa91e88ebe22ba780314882eb

# Sepolia Network Context Identifier Target
VITE_TARGET_CHAIN_ID=11155111
